## Import libraries and Dataframe

In [1]:
import pandas as pd

In [2]:
style = pd.read_csv('scraping_style.csv')
style.shape

(35753, 12)

In [3]:
style

,wine_id,varietal_name,style_id,body,body_description,acidity_1,acidity_description,acidity_2,fizziness,intensity,sweetness,tannin
0,1420799,Tinto de Ribera del Duero,180,5,De mucho cuerpo,3,Alta,3.700373e+00,NaN,3.837001e+00,1.783267e+00,3.414775e+00
1,1199830,Tinto de Ribera del Duero,180,5,De mucho cuerpo,3,Alta,3.700373e+00,NaN,3.837001e+00,1.783267e+00,3.414775e+00
2,1494622,Tinto de Ribera del Duero,180,5,De mucho cuerpo,3,Alta,3.700373e+00,NaN,3.837001e+00,1.783267e+00,3.414775e+00
3,1229417,Tinto de Ribera del Duero,180,5,De mucho cuerpo,3,Alta,3.700373e+00,NaN,3.837001e+00,1.783267e+00,3.414775e+00
4,87412043,Tinto de Ribera del Duero,180,5,De mucho cuerpo,3,Alta,3.673210e+00,NaN,3.852942e+00,1.838485e+00,3.483987e+00
...,...,...,...,...,...,...,...,...,...,...,...,...
35748,164784307,164784307,164784307,164784307,164784307,164784307,164784307,1.647843e+08,164784307.0,1.647843e+08,1.647843e+08,1.647843e+08
35749,14979215,14979215,14979215,14979215,14979215,14979215,14979215,1.497922e+07,14979215.0,1.497922e+07,1.497922e+07,1.497922e+07
35750,169911041,169911041,169911041,169911041,169911041,169911041,169911041,1.699110e+08,169911041.0,1.699110e+08,1.699110e+08,1.699110e+08
35751,14979215,14979215,14979215,14979215,14979215,14979215,14979215,1.497922e+07,14979215.0,1.497922e+07,1.497922e+07,1.497922e+07
35752,169911041,169911041,169911041,169911041,169911041,169911041,169911041,1.699110e+08,169911041.0,1.699110e+08,1.699110e+08,1.699110e+08

In [24]:
def cleaning_wine(df):
    print(df.shape)
    display(df[df['wine_id'].duplicated()==True])
    cleaned_df = df.drop_duplicates()
    print(cleaned_df.shape)
    display(cleaned_df[cleaned_df['wine_id'].duplicated()==True])
    display(cleaned_df.isna().sum())
    return cleaned_df

In [25]:
df = cleaning_wine(style)

(35753, 12)

,wine_id,varietal_name,style_id,body,body_description,acidity_1,acidity_description,acidity_2,fizziness,intensity,sweetness,tannin
25,1420799,Tinto de Ribera del Duero,180,5,De mucho cuerpo,3,Alta,3.700373e+00,NaN,3.837001e+00,1.783267e+00,3.414775e+00
26,1199830,Tinto de Ribera del Duero,180,5,De mucho cuerpo,3,Alta,3.700373e+00,NaN,3.837001e+00,1.783267e+00,3.414775e+00
27,1494622,Tinto de Ribera del Duero,180,5,De mucho cuerpo,3,Alta,3.700373e+00,NaN,3.837001e+00,1.783267e+00,3.414775e+00
28,1229417,Tinto de Ribera del Duero,180,5,De mucho cuerpo,3,Alta,3.700373e+00,NaN,3.837001e+00,1.783267e+00,3.414775e+00
29,87412043,Tinto de Ribera del Duero,180,5,De mucho cuerpo,3,Alta,3.673210e+00,NaN,3.852942e+00,1.838485e+00,3.483987e+00
...,...,...,...,...,...,...,...,...,...,...,...,...
35746,168653611,168653611,168653611,168653611,168653611,168653611,168653611,1.686536e+08,168653611.0,1.686536e+08,1.686536e+08,1.686536e+08
35747,160624545,160624545,160624545,160624545,160624545,160624545,160624545,1.606245e+08,160624545.0,1.606245e+08,1.606245e+08,1.606245e+08
35748,164784307,164784307,164784307,164784307,164784307,164784307,164784307,1.647843e+08,164784307.0,1.647843e+08,1.647843e+08,1.647843e+08
35751,14979215,14979215,14979215,14979215,14979215,14979215,14979215,1.497922e+07,14979215.0,1.497922e+07,1.497922e+07,1.497922e+07
35752,169911041,169911041,169911041,169911041,169911041,169911041,169911041,1.699110e+08,169911041.0,1.699110e+08,1.699110e+08,1.699110e+08

(20354, 12)

Empty DataFrame
Columns: [wine_id, varietal_name, style_id, body, body_description, acidity_1, acidity_description, acidity_2, fizziness, intensity, sweetness, tannin]
Index: []

wine_id                    0
varietal_name              0
style_id                   0
body                       0
body_description           0
acidity_1                  0
acidity_description        0
acidity_2                  0
fizziness              18176
intensity                  0
sweetness                  1
tannin                  7137
dtype: int64

## Drop rows that have not information (in the scraping fase they where empty)

In [27]:
df[df['wine_id'] == df['body']]

,wine_id,varietal_name,style_id,body,body_description,acidity_1,acidity_description,acidity_2,fizziness,intensity,sweetness,tannin
5084,163220588,163220588,163220588,163220588,163220588,163220588,163220588,163220588.0,163220588.0,163220588.0,163220588.0,163220588.0
5095,12245365,12245365,12245365,12245365,12245365,12245365,12245365,12245365.0,12245365.0,12245365.0,12245365.0,12245365.0
5186,164931175,164931175,164931175,164931175,164931175,164931175,164931175,164931175.0,164931175.0,164931175.0,164931175.0,164931175.0
5217,167103008,167103008,167103008,167103008,167103008,167103008,167103008,167103008.0,167103008.0,167103008.0,167103008.0,167103008.0
5246,160625095,160625095,160625095,160625095,160625095,160625095,160625095,160625095.0,160625095.0,160625095.0,160625095.0,160625095.0
...,...,...,...,...,...,...,...,...,...,...,...,...
35731,168653611,168653611,168653611,168653611,168653611,168653611,168653611,168653611.0,168653611.0,168653611.0,168653611.0,168653611.0
35732,160624545,160624545,160624545,160624545,160624545,160624545,160624545,160624545.0,160624545.0,160624545.0,160624545.0,160624545.0
35733,164784307,164784307,164784307,164784307,164784307,164784307,164784307,164784307.0,164784307.0,164784307.0,164784307.0,164784307.0
35749,14979215,14979215,14979215,14979215,14979215,14979215,14979215,14979215.0,14979215.0,14979215.0,14979215.0,14979215.0
35750,169911041,169911041,169911041,169911041,169911041,169911041,169911041,169911041.0,169911041.0,169911041.0,169911041.0,169911041.0

In [28]:
rows_drop = df[df['wine_id'] == df['body']].index

In [29]:
cleaned = df.drop(rows_drop)
print(df.shape[0] - len(rows_drop))
cleaned.shape

18184

(18184, 12)

## Check NaNs

In [30]:
cleaned.isna().sum()

wine_id                    0
varietal_name              0
style_id                   0
body                       0
body_description           0
acidity_1                  0
acidity_description        0
acidity_2                  0
fizziness              18176
intensity                  0
sweetness                  1
tannin                  7137
dtype: int64

In [31]:
cleaned[cleaned['fizziness']==0]

Empty DataFrame
Columns: [wine_id, varietal_name, style_id, body, body_description, acidity_1, acidity_description, acidity_2, fizziness, intensity, sweetness, tannin]
Index: []

### Fill NaNs with 0 because I think it is the missing value

In [32]:
update = cleaned.fillna(0)

## Round values

In [33]:
def rounded(df,cols):
    for col in cols:
        df[col] = round(df[col],2)
    return df

In [34]:
cols = ['acidity_2','fizziness','intensity','sweetness','tannin']
update = rounded(update,cols)
update

,wine_id,varietal_name,style_id,body,body_description,acidity_1,acidity_description,acidity_2,fizziness,intensity,sweetness,tannin
0,1420799,Tinto de Ribera del Duero,180,5,De mucho cuerpo,3,Alta,3.70,0.0,3.84,1.78,3.41
1,1199830,Tinto de Ribera del Duero,180,5,De mucho cuerpo,3,Alta,3.70,0.0,3.84,1.78,3.41
2,1494622,Tinto de Ribera del Duero,180,5,De mucho cuerpo,3,Alta,3.70,0.0,3.84,1.78,3.41
3,1229417,Tinto de Ribera del Duero,180,5,De mucho cuerpo,3,Alta,3.70,0.0,3.84,1.78,3.41
4,87412043,Tinto de Ribera del Duero,180,5,De mucho cuerpo,3,Alta,3.67,0.0,3.85,1.84,3.48
...,...,...,...,...,...,...,...,...,...,...,...,...
35710,61243167,Riesling,186,2,De poco cuerpo,3,Alta,4.19,0.0,2.64,1.89,0.00
35711,160177301,Grauburgunder,148,3,De cuerpo medio,3,Alta,3.02,0.0,3.03,1.83,0.00
35712,61745791,Riesling,186,2,De poco cuerpo,3,Alta,4.63,0.0,2.90,1.58,0.00
35713,169349840,Pinot Blanc,141,3,De cuerpo medio,3,Alta,4.07,0.0,3.00,1.00,0.00
35714,168904390,Riesling,186,2,De poco cuerpo,3,Alta,4.12,0.0,2.74,1.40,0.00

## Check rows with missing information (i'll deal with them when importing from MySQL)

In [36]:
update[update['style_id']==update['body']]

,wine_id,varietal_name,style_id,body,body_description,acidity_1,acidity_description,acidity_2,fizziness,intensity,sweetness,tannin
21101,166990245,Pedro Ximenez,136,136,136,136,136,136.0,136.0,136.0,136.0,136.0
21709,156881629,Vino espumoso,216,216,216,216,216,216.0,216.0,216.0,216.0,216.0
21738,160211882,Vino espumoso,216,216,216,216,216,216.0,216.0,216.0,216.0,216.0
21907,169027400,Pedro Ximenez,136,136,136,136,136,136.0,136.0,136.0,136.0,136.0
22888,166331167,Vino espumoso,216,216,216,216,216,216.0,216.0,216.0,216.0,216.0
28228,3007729,Blanco,131,131,131,131,131,131.0,131.0,131.0,131.0,131.0
33446,164943039,Chardonnay,55,55,55,55,55,55.0,55.0,55.0,55.0,55.0

In [37]:
values = update[update['style_id']==update['body']]['wine_id'].values

In [38]:
update[update['wine_id'].isin(values)]

,wine_id,varietal_name,style_id,body,body_description,acidity_1,acidity_description,acidity_2,fizziness,intensity,sweetness,tannin
21101,166990245,Pedro Ximenez,136,136,136,136,136,136.0,136.0,136.0,136.0,136.0
21709,156881629,Vino espumoso,216,216,216,216,216,216.0,216.0,216.0,216.0,216.0
21738,160211882,Vino espumoso,216,216,216,216,216,216.0,216.0,216.0,216.0,216.0
21907,169027400,Pedro Ximenez,136,136,136,136,136,136.0,136.0,136.0,136.0,136.0
22888,166331167,Vino espumoso,216,216,216,216,216,216.0,216.0,216.0,216.0,216.0
28228,3007729,Blanco,131,131,131,131,131,131.0,131.0,131.0,131.0,131.0
33446,164943039,Chardonnay,55,55,55,55,55,55.0,55.0,55.0,55.0,55.0

## Save csv

In [39]:
update.to_csv('update_style.csv',index=False)

## Save MySQL

In [40]:
import pymysql
from sqlalchemy import create_engine
import getpass  # To get the password without showing the input
password = getpass.getpass()

Â·Â·Â·Â·Â·Â·Â·Â·

In [41]:
connection_string = 'mysql+pymysql://root:' + password + '@localhost/clean_winery'
engine = create_engine(connection_string)

In [42]:
update.to_sql('style', con = engine, if_exists = 'replace', index = False )

18184